
    <!-- Navbar Area -->
    <div class="delicious-main-menu" >
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" th:href="@{/}"><img th:src="@{/img/core-img/logo.png}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav"  sec:authorize="isAuthenticated()">
                            <ul>
                                <li class="active"><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/#recipes}">Recipes</a></li>
                                <li><a th:href="@{/recipes/add}">Add Recipe</a></li>
                                <li><a th:href="@{/consumers}">My Consumers</a></li>
                                <li><a th:href="@{/account}">My Account</a>
                                    <ul class="dropdown">
                                        <li><a th:href="@{/account}">Profile</a></li>
                                        <li><a th:href="@{/logout}">Log out</a></li>
                                    </ul>
                                </li>

                            </ul>
                            <!-- Newsletter Form -->
                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>

                        </div>



                        <div class="classynav"  sec:authorize="!isAuthenticated()">
                            <ul>
                                <li class="active"><a th:href="@{/}">Home</a></li>
                                <li><a th:href="@{/#recipes}">Recipes</a></li>
                                <li><a th:href="@{/login}">Login</a></li>
                            </ul>
                            <!-- Newsletter Form -->
                            <div class="search-btn">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>

                        </div>
                        <!-- Nav End -->


                    </div>
                </nav>
            </div>
        </div>
    </div>
