<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:replace="fragments/head"></div>
<body>

<div th:replace="fragments/preloader"></div>
<div th:replace="fragments/header"></div>


    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area" id="recipes">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Something went wrong</h3>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->



    <div th:replace="fragments/footer"></div>
    <div th:replace="fragments/scripts"></div>


</body>

</html>