<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<div th:replace="fragments/head"></div>
<body>

<div th:replace="fragments/preloader"></div>
<div th:replace="fragments/header"></div>
<div th:replace="fragments/hero-area"></div>


    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area" id="recipes">
        <div class="container">
            <div class="row mt-5">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Recipes</h3>
                    </div>
                </div>
            </div>

            <div class="row" th:each="recipe : ${recipes}">
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img src="img/bg-img/r1.jpg" alt="">
                        <div class="receipe-content">
                            <a th:href="@{/recipes/{id}(id=${recipe.id})}">
                                <h5 th:text="${recipe.title}"></h5>
                            </a>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->



<div th:replace="fragments/subscribe-area"></div>
<div th:replace="fragments/social-area"></div>

    <div th:replace="fragments/footer"></div>
    <div th:replace="fragments/scripts"></div>


</body>

</html>