<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">

<div th:replace="fragments/head"></div>

<body>
    <div th:replace="fragments/preloader"></div>

    <div th:replace="fragments/header"></div>

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url('../img/bg-img/breadcumb3.jpg')">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Recipe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="receipe-post-area section-padding-80">



        <!-- Receipe Slider -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="receipe-slider owl-carousel">
                        <img th:src="@{/img/bg-img/bg5.jpg}" alt="">
                        <img th:src="@{/img/bg-img/bg5.jpg}" alt="">
                        <img th:src="@{/img/bg-img/bg5.jpg}" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Receipe Content Area -->
        <div class="receipe-content-area">
            <div class="container">

                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="receipe-headline my-5">
                            <span>April 05, 2018</span>
                            <h2 th:text="${recipe.title}"></h2>
                            <div class="receipe-duration">
                                <h6 th:text="'Prep Time: ' + ${recipe.prepTime} + ' mins'">Prep: 15 mins</h6>
                                <h6 th:text="'Cooking Time: ' + ${recipe.cookingTime} + ' mins'">Cook: 30 mins</h6>
                                <h6 th:text="'Yields: '+ ${recipe.yields} + ' Servicngs'">Yields: 8 Servings</h6>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="receipe-ratings text-right my-5">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                            <a href="#" class="btn delicious-btn" th:text="${recipe.difficulty}"></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Ingredients -->
                    <div class="col-12 col-lg-4">
                        <div class="ingredients">
                            <h4>Ingredients</h4>

                            <!-- Custom Checkbox -->
                            <div class="custom-control custom-checkbox" th:each="item, iStat : ${recipe.ingredients}">
                                <input type="checkbox" class="custom-control-input" th:id="'customCheck' + ${iStat.count}">
                                <label class="custom-control-label" th:for="'customCheck' + ${iStat.count}" th:text="${item.amount} + ' ' + ${item.measure} + ' ' + ${item.ingredient.name}"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <!-- Single Preparation Step -->
                        <div class="single-preparation-step d-flex" th:each="instruction, iStat : ${recipe.instructions}">
                            <h4 th:text="${iStat.count}"></h4>
                            <p th:text="${instruction}"></p>
                        </div>
                    </div>


                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-left">
                            <h3>Leave a comment</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="contact-form-area">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <input type="text" class="form-control" id="name" placeholder="Name">
                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <input type="email" class="form-control" id="email" placeholder="E-mail">
                                    </div>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    </div>
                                    <div class="col-12">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn delicious-btn mt-30" type="submit">Post Comments</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/instagram-area"></div>
    <div th:replace="fragments/footer"></div>
    <div th:replace="fragments/scripts"></div>


</body>

</html>